.section-general-banner {
    position: relative;

    .slider-general {
        height: calc(70vh - 90px);

        @media screen and (max-width: 991px) {
            height: calc(50vh - 90px);
        }
    }

    .banner-image {
        height: calc(70vh - 90px);
        background-position: center;
        background-size: cover;
        position: relative;

        @media screen and (max-width: 991px) {
            background-position: center;
            height: calc(50vh - 90px);
        }
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .banner-text {
            color: var(--text-color);
            text-align: center;

            @media screen and (max-width: 991px) {
                padding: 0 15px;
            }

            h1 {
                font-size: 72px;
                line-height: 1.3;

                @media screen and (max-width: 991px) {
                    font-size: 32px;
                }
            }

            p {
                font-size: 20px;
                letter-spacing: 4.2px;
                line-height: 1.4;
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;

                @media screen and (max-width: 991px) {
                    font-size: 14px;
                    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
                }
            }
        }
    }

    .slider-general-profile {
        height: calc(100vh - 90px);

        @media screen and (max-width: 991px) {
            height: calc(70vh - 90px);
        }

        .container {
            max-width: 100%;
            padding: 0 70px;
            align-items: flex-end;
            justify-content: flex-start;

            @media screen and (max-width: 991px) {
                padding: 0 16px;
                justify-content: center;
            }
        }

        .banner-image {
            height: 100%;
        }

        .banner-text {
            color: var(--text-color);
            text-align: center;

            @media screen and (max-width: 991px) {
                padding: 0 15px;
            }

            h1 {
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 400;
                letter-spacing: 0;
                font-size: 130px;
                line-height: 1;
                padding-bottom: 30px;
                text-align: center;
                text-shadow: 0 3px 3px rgba(255, 255, 255, 0.2);
                text-transform: uppercase;

                @media screen and (max-width: 991px) {
                    font-size: 72px;
                }
            }
        }
    }
}