.section {
    .section-banner {
        position: relative;

        .banner-image, .slider-home {
            // height: 500px;
            background-position: top center;
            background-size: cover;
            position: relative;
            max-height: 560px;

            @media screen and (max-width: 991px) {
                background-position: center;
                // height: 250px;
            }
        }

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @media screen and (max-width: 991px) {
                padding: 0;
            }
        }

        .swiper-wrapper {
            height: auto;

            .swiper-slide {
                width: 50%;
                height: auto;
                aspect-ratio: 1.5 / 1;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    .section-why {
        background: var(--background-color);
        padding: 56px 0;

        .image-about-us {
            height: 100%;
            border-radius: 12px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
            }
        }

        h3 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 56px;
            // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
            text-transform: uppercase;
            margin-bottom: 24px;
            color: var(--text-color);
            text-align: left;
    
            @media screen and (max-width: 991px) {
                font-size: 32px;
                text-align: center;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            color: var(--text-color);
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
                text-align: center;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }

        .points {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 24px;
            border: 1px solid var(--button-color);
            padding: 16px;
            border-radius: 12px;
            width: 100%;
            background-color: var(--background-color);

            @media screen and (max-width: 1400px) {
                height: 130px;
            }

            @media screen and (max-width: 767px) {
                width: 200px;
                height: auto;
            }

            &:hover {
                background-color: #FFFFFF;
            }

            .icon {
                width: 40px;
                height: 40px;
                margin-bottom: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h4 {
                text-align: center;
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                color: var(--text-color);
            }
        }
    }

    .section-topexcorts {
        background: var(--background-color);
        min-height: 500px;
        padding-bottom: 56px;

        .title {
            @media screen  and (max-width: 991px) {
                padding-bottom: 24px !important;
            }
        }

        .slider-top-escorts {
            // height: 560px;
            @supports (-webkit-touch-callout: none) {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 450px;

                        @media screen and (max-width: 1100px) {
                            height: 350px;
                        }

                        @media screen and (max-width: 767px) {
                            height: auto;
                        }
                    }
                }
            }


            .swiper-wrapper {
                height: auto;

                .swiper-slide {
                    height: auto;
                    @media screen and (max-width: 767px) {
                        width: 45%;
                    }

                    @media screen and (max-width: 460px) {
                        // height: 300px !important;
                        width: 152px;
                    }

                    .image {
                        @media screen and (max-width: 1100px) {
                            aspect-ratio: 0.67 / 1;
                        }

                        @media screen and (max-width: 767px) {
                            aspect-ratio: 2 / 3;                
                        }

                        @media screen and (max-width: 460px) {
                            width: 152px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .section-about {
        background: var(--color-white-pure);
        padding-bottom: 56px;

        .image-about-us {
            height: 100%;
            border-radius: 12px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
            }
        }

        h2 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            color: var(--text-color);
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }

        .text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #f6cd7e;
        }
    }

    .escort-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #012319;
        text-align: center;
        transition: transform 0.3s ease;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;

        @media screen and (max-width: 767px) {
            margin-right: 2px;
        }

        .image-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin-bottom: 16px;

            @media screen and (max-width: 1280px) {
                height: auto;
                
                &.home {
                    height: 416px;
                }
            }

            @media screen and (max-width: 1100px) {
                aspect-ratio: 0.67 / 1;
            }

            @media screen and (max-width: 767px) {
                aspect-ratio: 2 / 3;
                margin-bottom: 8px;
            }
        }
            
        @supports (-webkit-touch-callout: none) {
            .image-container {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin-bottom: 0;
                height: 416px;

                @media screen and (max-width: 1100px) {
                    aspect-ratio: 0.67 / 1;
                }

                @media screen and (max-width: 991px) {
                    height: auto;

                    &.home {
                        height: 400px;
                    }
                }

                @media screen and (max-width: 560px) {
                    height: auto;
                    
                    &.home {
                        height: 250px;
                    }
                }
            }
        }

        .blur-container {
            position: absolute;
            width: 102%;
            height: 102%;
            z-index: 1;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
        }

        .image {
            width: 100%;
            // height: 560px;
            position: relative;
            border-radius: 0;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: transform 0.3s ease;

                @media screen and (max-width: 1100px) {
                    aspect-ratio: 0.67 / 1;
                }

                @media screen and (max-width: 767px) {
                    aspect-ratio: 2 / 3;                
                }
            }
        }

        h2 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
            text-transform: uppercase;
            text-align: center;

            @media screen and (max-width: 991px) {
                font-size: 16px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;
            line-height: 1.4;
            text-align: center;

            &.small {
                font-size: 16px;

                @media screen and (max-width: 991px) {
                    font-size: 12px;
                }
            }

            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
    }

    .section-blog {
        min-height: 500px;
        background: var(--background-color);
        padding-bottom: 56px;

        .row-adjustment {
            margin: 0 -4px;
        }

        .col-adjustment {
            padding-left: 4px;
            padding-right: 4px;
        }

        .slider-blog {
            margin-bottom: 56px;
        }

        .post-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #012319;
            // transition: transform 0.3s ease;
            cursor: pointer;
            overflow: hidden;
            text-decoration: none;
            
            &:hover {
                .image {
                    .img-hover {
                        opacity: 1;
                    }

                    .img-normal {
                        opacity: 0;
                    }
                }
            }

            .image {
                width: 100%;
                height: 280px;
                background-position: center;
                background-size: cover;
                position: relative;
                border-radius: 0;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
                margin-bottom: 8px;
                overflow: hidden;
                position: relative;

                @media screen and (max-width: 767px) {
                    height: 150px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform 0.3s ease;
                    display: block;
                }

                .img-hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                h2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: 30px;
                    color: #FFFFFF;
                    text-shadow: 2px 2px 2px black;
                    padding: 24px;
                    background: rgba(255, 255, 255, 0.15);

                    @media screen and (max-width: 767px) {
                        font-size: 20px;
                        padding: 16px;
                    }
                }
            }

            h2 {
                text-align: center;
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 32px;
                // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
                text-transform: uppercase;
                margin-bottom: 8px;

                @media screen and (max-width: 991px) {
                    font-size: 24px;
                }
            }

            p {
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                line-height: 1.4;

                &.small {
                    font-size: 16px;

                    @media screen and (max-width: 991px) {
                        font-size: 14px;
                    }
                }

                @media screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }

        p {
            text-align: justify;
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            color: var(--text-color);
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }
    }

    .page-blog {
        padding-top: 56px;
        padding-bottom: 26px;
        background-color: #FFFFFF;
    }

    .section-faq {
        background: var(--color-white-pure);

        .faq-title {
            padding: 56px 0;

            h2 {
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 56px;
                // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
                text-transform: uppercase;
                margin-bottom: 0;
                color: var(--text-color);
                text-align: center;

                @media screen and (max-width: 991px) {
                    font-size: 32px;
                }
            }
        }

        .faq {
            padding-bottom: 56px;
        }
    }

    .section-unlock-access {
        margin-bottom: 56px;
        height: 520px;
        display: flex;
        position: relative;
        flex-direction: column;
        
        .title {
            @media screen and (max-width: 460px) {
                font-size: 24px !important;
            }
        }

        @media screen and (max-width: 991px) {
            height: 260px;
        }

        @media screen and (max-width: 550px) {
            height: 195px;
        }

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .media {
            height: 100%;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;

            img {
                object-fit: cover;
                object-position: center center;
                transition: opacity .1s cubic-bezier(.25,.46,.45,.94);
                display: block;
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        .context {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 16px;
        }

        h3 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {            text-align: center;
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            @media screen and (max-width: 460px) {
                font-size: 12px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }
    }

    .section-your-girl {
        background: var(--background-white);
        height: 520px;
        display: flex;
        position: relative;
        flex-direction: column;
        margin-bottom: 56px;
        
        .title {
            @media screen and (max-width: 460px) {
                font-size: 24px !important;
            }
        }

        @media screen and (max-width: 991px) {
            height: 260px;
        }

        @media screen and (max-width: 550px) {
            height: 195px;
        }

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .media {
            height: 100%;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;

            img {
                object-fit: cover;
                object-position: center center;
                transition: opacity .1s cubic-bezier(.25,.46,.45,.94);
                display: block;
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        .context {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h3 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            @media screen and (max-width: 460px) {
                font-size: 12px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }
    }

    .section-become-escort {
        background: var(--background-white);
        height: 520px;
        display: flex;
        position: relative;
        flex-direction: column;
        
        .title {
            @media screen and (max-width: 460px) {
                font-size: 24px !important;
            }
        }

        @media screen and (max-width: 991px) {
            height: 260px;
        }

        @media screen and (max-width: 550px) {
            height: 195px;
        }

        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .media {
            height: 100%;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;

            img {
                object-fit: cover;
                object-position: center center;
                transition: opacity .1s cubic-bezier(.25,.46,.45,.94);
                display: block;
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        .context {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h3 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            @media screen and (max-width: 460px) {
                font-size: 12px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }
    }

    .section-this-is-the-girl-next-door-escort {
        background: var(--color-white-pure);
        padding-bottom: 56px;
        
        .title {
            @media screen and (max-width: 460px) {
                font-size: 24px !important;
            }
        }

        h2 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            color: var(--text-color);
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            @media screen and (max-width: 460px) {
                font-size: 12px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }

        .text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #f6cd7e;
        }
    }

    .section-seo {
        background: var(--color-white-pure);
        padding-bottom: 56px;

        .image-about-us {
            height: 100%;
            border-radius: 12px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
            }
        }

        h3 {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;

            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
        }

        p {
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: 0px;
            color: var(--text-color);
            opacity: 1;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }

            a {
                color: var(--text-color);
                font-weight: 500;
            }
        }

        .text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #f6cd7e;
        }
    }
}

.title-section {
    padding: 0 !important;
    margin-bottom: 24px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;

    &.white {
        background: rgba(255, 255, 255, 0.15);
    }
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 24px;
    z-index: 100;

    @media screen and (max-width: 991px) {
        display: none;
    }

    .mouse {
        width: 40px;
        height: 70px;
        border: 3px solid #f9f4de;
        border-radius: 60px;
        position: relative;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f9f4de;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
        }
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 45px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 45px;
    }
}

.fs-wrapper {
    width: 100%;
    position: relative;
    z-index: inherit;
    display: flex;
    flex-wrap: wrap;

    .fs-entry-container {
        width: 16.666666666666668% !important;
        padding-top: 16.666666666666668% !important;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 16.666666666666668%;

        @media screen and (max-width: 767px) {
            width: 33.333333333333336% !important;
            padding-top: 33.333333333333336% !important;
            flex: 0 0 33.333333333333336%;
        }

        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .fs-entry {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            background-color: transparent;
            list-style-type: none;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 1px;

            .fs-text-container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: opacity .25s;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.35);

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.modal-dialog {
    .btn-close {
        position: absolute;
        right: 16px;
    }

    .modal-content {
        .modal-header {}
        .modal-body {
            img, video {
                max-width: 100%;

                @media screen and (max-width: 767px) {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }

            h2 {
                font-size: 40px;
                margin-bottom: 4px;
            }

            p {
                &#location {
                    font-size: 14px;
                    margin-bottom: 24px;
                }

                &#description {
                    font-size: 16px;
                    margin-bottom: 24px;
                    line-height: 1.4;
                }
            }
        }
        .modal-footer {}
    }
}