.section {
    .section-pricing {
        min-height: 500px;
        background: #FFFFFF;
        padding: 56px 0;

        h5 {
            font-size: 24px;
            font-weight: 700;
            color: var(--text-color);
            text-align: center;
            margin-bottom: 24px;
            font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: var(--text-color);
            margin-bottom: 24px;
            line-height: 1.4;
        }

        a {
            font-size: 16px;
            color: var(--button-color);
            line-height: 1.4;
            transition: 0.3s;
            text-decoration: underline;
            font-weight: 700;

            &:hover {
                color: var(--link-hover-color);
            }
        }

        .two-columns {
            display: flex;
            justify-content: space-between;

            p {
                width: 48%;
            }
        }
    }
}