.section {
    .section-services {
        min-height: 500px;
        background: #FFFFFF;
        padding-top: 56px;
        padding-bottom: 26px;

        .service-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #012319;
            text-align: center;
            transition: transform 0.3s ease;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            text-decoration: none;
    
            @media screen and (min-width: 768px) {
                &:hover {
                    .image {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
    
            @media screen and (max-width: 767px) {
                margin-bottom: 24px;
            }
    
            .image {
                width: 100%;
                height: 300px;
                background-position: center;
                background-size: cover;
                position: relative;
                border-radius: 0;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
                overflow: hidden;
    
                @media screen and (max-width: 767px) {
                    height: 450px;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform 0.3s ease;
                }
            }

            .text-box {
                background: linear-gradient(0deg, rgba(0, 0, 0, .8), transparent 60%);
                bottom: 0;
                color: var(--background-color);
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                left: 0;
                overflow: hidden;
                padding: 15px 20px;
                position: absolute;
                transition: all .35s ease-in-out;
                width: 100%;
                z-index: 2;

                p {
                    color: #fff6d7;
                    font-style: italic;
                    margin: 0;
                    max-height: 0;
                    opacity: 0;
                    overflow: hidden;
                    padding-right: 25px;
                    transition: all .55s ease;
                    visibility: hidden;
                }
            }

            &:hover {
                .text-box {
                    p {
                        max-height: 100px;
                        opacity: 1;
                        overflow: visible;
                        visibility: visible;
                    }
                }
            }
    
            h2 {
                font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 24px;
                // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
                text-transform: uppercase;
                margin-bottom: 8px;
    
                @media screen and (max-width: 991px) {
                    font-size: 16px;
                }
            }
        }
    }
}