@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Rufina:wght@400;700&display=swap');

@import "./vendor/variables.scss";
@import "./vendor/bootstrap/bootstrap.scss";
@import "./vendor/bootstrap/bootstrap-grid.scss";
@import "./vendor/bootstrap/bootstrap-reboot.scss";
@import "./vendor/bootstrap/bootstrap-utilities.scss";
@import "./vendor/swiper/_swiper.scss";
@import "./vendor/reset";

@import "./_pills.scss";
@import "./_button.scss";
@import "./_slider.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_accordion.scss";
@import "./_home.scss";
@import "./_services.scss";
@import "./_excorts.scss";
@import "./_banner.scss";
@import "./_pricing.scss";
@import "./_contact.scss";
@import "./_profile.scss";
@import "./_single.scss";
@import "./_text.scss";

body {
    font-family: "Rufina", serif, Verdana, sans-serif;
}

.rufina-regular {
    font-family: "Rufina", serif, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rufina-bold {
    font-family: "Rufina", serif, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.follow-floted {
    position: fixed;
    top: 270px;
    right: -100px;
    z-index: 12;
    display: flex;
    align-items: center;
    transform: rotate(90deg);

    @media screen and (max-width: 767px) {
        right: -120px;
    }

    label {
        font-size: 14px;
        letter-spacing: 1.4px;
        text-shadow: 0 1px 1px rgb(249 244 222 / 40%);
        -webkit-text-shadow: 0 1px 1px rgba(249, 244, 222, .4);
        -moz-text-shadow: 0 1px 1px rgba(249, 244, 222, .4);
        -ms-text-shadow: 0 1px 1px rgba(249, 244, 222, .4);
    }

    ul {
        li {
            text-align: center;

            a {
                font-size: 18px;
                color: var(--text-color);
                display: block;

                &:hover {
                    color: var(--link-hover-color);
                }
            }
        }
    }
}

.icon-telegram {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        position: fixed;
        bottom: 24px;
        z-index: 1000;
        left: 44%;

        width: 50px;
        height: 50px;
        background-color: var(--background-color);
        border-radius: 50%;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.title {
    padding: 56px 0;

    .section-label {
        font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px !important;
        // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        margin-bottom: 0 !important;
        color: var(--text-color);
        text-align: center;

        @media screen and (max-width: 767px) {
            font-size: 14px !important;
        }
    }

    h1, h2 {
        font-family: 'Rufina', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 56px !important;
        // text-shadow: 0 8px 3px rgba(0, 0, 0, .2);
        text-transform: uppercase;
        margin-bottom: 0 !important;
        color: var(--text-color);
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 32px !important;
        }

        @media screen and (max-width: 767px) {
            font-size: 28px !important;
        }
    }
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;

    &.two-lines {
        -webkit-line-clamp: 2;
        /* Limita a 2 linhas */
        line-clamp: 2;
    }

    &.three-lines {
        -webkit-line-clamp: 3;
        /* Limita a 2 linhas */
        line-clamp: 3;
    }
}

.modal-content {
    border: none;
    border-radius: 0;
}

.content {
    max-width: 620px;
    margin: 0 auto;

    text-align: justify;
}

.mob-p-0 {
    @media screen and (max-width: 767px) {
        padding: 0 !important;
    }
}

.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}

.mob-pt-0 {
    @media screen and (max-width: 767px) {
        padding-top: 0 !important;
    }
}

.swiper-wrapper {
    display: flex;
    height: auto !important;
    -webkit-overflow-scrolling: touch;
}

.form-check-label {
    a {
        font-weight: 700;
        text-decoration: none;
        color: #f8f9fa;
    }
}

.table-style {
    width: 100%;

    .table-row {
        padding: 8px 12px;
        text-align: left;
        // border: 1px solid #dee2e6;
        border-bottom: none;
        font-size: 16px;
        color: var(--text-color);

        &:nth-child(odd) {
            background-color: #f9f4de;
        }

        &:nth-child(even) {
            background-color: #ffffff;
        }
        
        &:last-of-type {
            // border-bottom: 1px solid #dee2e6;
        }
    }
}

.color-white {
    color: #FFFFFF !important;
}

.swiper-slide {
    height: auto !important;
    -webkit-box-sizing: border-box;
}

.advertise-contact {
    line-height: 1.4;

    ul {
        list-style: none;
        padding: 0 !important;
        margin: 0;

        li {
            list-style: none;
            margin-bottom: 8px;
            color: var(--text-color);

            a {
                color: var(--link-color);
                text-decoration: none;
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    color: var(--link-hover-color);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .mob-mb-0 {
        margin-bottom: 0 !important;
    }
    
    .mob-mt-0 {
        margin-top: 0 !important;
    }

    .mob-mb-8 {
        margin-bottom: 8px !important;
    }

    .mob-mt-8 {
        margin-top: 8px !important;
    }

    .mob-mb-16 {
        margin-bottom: 16px !important;
    }

    .mob-mt-16 {
        margin-top: 16px !important;
    }

    .mob-mb-24 {
        margin-bottom: 24px !important;
    }

    .mob-mt-24 {
        margin-top: 24px !important;
    }

    .mob-mb-32 {
        margin-bottom: 32px !important;
    }

    .mob-mt-32 {
        margin-top: 32px !important;
    }
}

.mt-30 {
    margin-top: 30px !important;

    @media screen and (max-width: 767px) {
        margin-top: 24px !important;
    }
}

.mb-56 {
    margin-bottom: 56px !important;

    @media screen and (max-width: 767px) {
        margin-bottom: 32px !important;
    }
}

.mb-30 {
    margin-bottom: 30px !important;

    @media screen and (max-width: 767px) {
        margin-bottom: 24px !important;
    }
}

.mb-24 {
    margin-bottom: 24px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

@media screen and (max-width: 767px) {
    .mob-mb-0 {
        margin-bottom: 0 !important;
    }
    .mob-mb-8 {
        margin-bottom: 8px !important;
    }
    .mob-mb-16 {
        margin-bottom: 16px !important;
    }
    .mob-mb-24 {
        margin-bottom: 24px !important;
    }
}

@media screen and (max-width: 767px) {
    .mob-mt-0 {
        margin-top: 0 !important;
    }
    .mob-mt-8 {
        margin-top: 8px !important;
    }
    .mob-mt-16 {
        margin-top: 16px !important;
    }
    .mob-mt-24 {
        margin-top: 24px !important;
    }
}

.border-bottom {
    border-bottom: 1px solid #d2261a !important;
}

.bg-white {
    background-color: var(--color-white-pure) !important;
}

.bg-light {
    background-color: var(--background-color) !important;
}

.form-check-input:checked {
    background-color: #d2261a !important;
    border-color: #d2261a !important;
}

.desktop {
    display: block;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.container-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.mobile {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

#wpadminbar {
    display: none !important;
}

.swpm-login-form-inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    label {
        margin-bottom: 6px;
        font-weight: 500;
        color: #495057;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: 1px solid #ced4da;
        font-size: 1rem;
        transition: border-color 0.2s;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: #d2261a;
        outline: none;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #d2261a;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-bottom: 16px;
    }

    input[type="submit"]:hover {
        background-color: #b51e14;
    }
}

.swpm-registration-form-section, .swpm-pw-reset-widget-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: #495057;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="url"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 6px;
        font-size: 1rem;
        background-color: #fff;
        color: #212529;
        transition: border-color 0.2s ease-in-out;
    }

    input[type="submit"], button {
        width: 100%;
        padding: 10px;
        background-color: #d2261a;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;
        margin: 16px 0;
    }

    input[type="submit"], button {
        &:hover {
            background-color: #b51e14;
        }
    }
}